:root {

}

.hide {
    display: none;
}

.show {
    display: block;
}



#recipeHeader{
    padding-bottom: 8%;
}

#recipeContainer {
    margin-left: 0;
    margin-right: 0;
}

#ingredientsContainer {
    padding: 10px;
    height: 100vh;
}

#ingredients {
    height: 100%;
}

#recipePicContainer {
    padding: 10px;
    height: 100vh;
}

#recipePic {
    width: 100vw;
}

#recipeBtnDiv button {
    width: 50%;
}

@media only screen and (max-width: 600px) {
    #recipeContainer {
        flex-direction: column;
    }

    #recipePicContainer {
        order: 1;
        width: 100vw;
    }

    #ingredientsContainer {
        order: 2;
        width: 100vw;
    }
}

.ingredient{
    font-family: 'Montserrat', sans-serif;
   color: black;
   background-color: rgba(255,255,255,0);
   border: 2px solid black;
   width: 130px;
   text-decoration: none;
   padding: 10px;
   margin: 15px; 
   cursor: pointer;
}

.ingredientList{
    width: 90%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
}

.mainIngredient{
    margin: 100px;
    padding: 25px;
}

.landingContainer{
   background-image: url(./Images/background-img.jpg); 
   background-size:cover;
   position: relative;
   min-height: 100vh;
   background-repeat: no-repeat;
   background-position: center center;
   overflow: hidden;

}

.callout{
    margin: 0;
}